/* @import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Manrope:wght@200..800&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}
input:-webkit-autofill {
  background-color: transparent !important;
  color: #d1d5db !important;
  -webkit-box-shadow: 0 0 0px 1000px #374151 inset !important;
  -webkit-text-fill-color: #d1d5db !important;
}

/* input:-webkit-autofill {
  background-color: rgba(55, 65, 81, 0.3) !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(55, 65, 81, 0.3) inset !important;
  -webkit-text-fill-color: #d1d5db !important;
}
 */
